root { 
    display: block;
    font-family: 'Courier New',Courier,monospace;
}

#header {
    width: 1000px;
    height: 200px;
    background-color:#6B4226;
    /*background-color:#CD3333;*/
    padding-top: 10px;
}

#body {
    width: 980px;
    height: 460px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
}

#body2 {
    width: 980px;
    height: 650px;
    background-color: #ffffff;
    padding-left:  50px;
    background-color: #FFF68F;
    float: left;

}
#blocomenu{
    width: 190px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
    float: left;
    background-color: #FFF68F;
}

#footer {
    width: 1000px;
    height: 50px;
    background-color: 	#CD3333;
}

#tudo {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;

}

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background: url("imagens/Logo_solProBrasil_200x200.png") 0 0 no-repeat;
}

#perfil {
    width: 980px;
    height: 300px;
    background-color: antiquewhite;
}
#perfil2 {
    width: 980px;
    height: 500px;
    background-color: antiquewhite;
}

#blocoFoto{
    width: 250px;
    height: 300px;
    background-color: #FFF68F;
    position: relative;

    float: left;
}
#b1{
    width: 440px;
    height: 300px;
    background-color: #FFF68F;
    float: right;
    position: relative;
    /*text-align: center;*/
    float:right;
}

#b2{
    width: 200px;
    height: 300px;
    background-color: #FFF68F;
    float: left;

}

ul {
    padding: 0px;
    list-style: none;

}

ul li {
    list-style: none;
    width: 200px;
    height: 25px;
    /*background-color:#FFF68F;*/
    background-color:#2db069;
    font-family: sans-serif;
    font-size: 17px;
    padding-left: 5px;
    margin-bottom: 5px;

}

ul li:hover {
    background-color: #ffffff;
}

.acesso {
    position: absolute;
    float:right;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 50px;
    left: 900px;
    top: 0px;
    width: 200px;
    display: block;
    color: #ffffff;
    font-size: larger;
}

a{
    color:#000000;
    text-decoration: none;        
}

a:hover {
    color: #CD3333;
}

img{
    position: absolute;
    float: left;


}

h4{
    font-family: sans-serif;
    color: lightcoral;
    padding-top: -2px;
}

#sair{
    float: right;
    font-size: 18px;
    left: 900px;
    padding-right: 5px;
    margin-right: 5px;
    border-style: none;
}

#blocodetalhes{
    width: 250px;
    height: 790px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    /*background-color: #CD3333;*/
    /*#FFF68F*/
}
#blocop{
    width: 710px;
    height: 790px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    float: left;
    background-color: #6B4226;
    /*background-color: #FFF68F;*/


    /*#FFF68F*/

}
#blocopaginacao{
    margin-top:400px; 
    width:700px ;
    height:100px;
    background: #FFF68F;
    text-align: center;
    font-size: xx-large;
}
#bloconovos{
    width: 710px;
    height: 325px;

}
#blocoMeusLivros{
    width: 710px;
    height: 370px;

}
#blocoM{
    width: 200px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*background-color: #CD3333;*/
    background-color: #6B4226;
    padding: 10px;
    float: left;
    text-align: center;

}
#blocolivro{
    width: 230px;
    height: 145px;
    float: left;
    
    background-position: bottom;

}
.img{
    padding-left: 70px;
    padding-top: 10px;


}
.p{
    text-align: center;
    padding-top: 0px;
    background-position: top;


}
.al{
    float: right;
}
.al1{
    float: right;
    margin-top:50px;
}

#blocolivro1{
    width: 230px;
    height: 145px;
    float: right;

    background-position: bottom;
    padding-right: 30px;

}
.center{
    text-align: center;
}