body{
    padding:0px; 
    margin:0px; 
    /*background:url(images/main-bg.gif) 0 0 repeat-x #fff;*/ 
    color:#5F7A77; 
    font:13px/19px Arial, Helvetica, sans-serif;

}
#tela{
    width: 1000px;
    margin-left: auto; 
    margin-right: auto;   
}
#b1{

    width:187px;
    height: 269px;
    float: left;
    background: url(images/livros-usados.jpg) 0 0 no-repeat;
    /*background-color: black;*/
}
#b2{

    width: 310px;
    float: left;
    margin-top: 10px;
    /*background-color: #C8E8E2;
    /*background: url(images/estante-de-livros.jpg) 0 0 no-repeat ;*/

}
#b3{

    width: 600px;
    height: 432px;
    float: left;
  
 
 
    /*background-color: black;*/
}
h1{
    text-align: right;
    font-family: sans-serif;
    font-size: 40px;
}
p, form{
    text-align: right;
}
#form-login{
    text-align: right;
    margin: 10px;
    width: 400px;
    height: 200px;
    position: relative;
    float: right;
}
form input {
    margin-bottom: 5px;
}

